body {
    background-color: #f1f1f1;
    font-size: 30px;
}

title {
    color: black;
    text-align: center;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}

a {
    color: black;
}